<p-table>
  <ng-template pTemplate="header">
    <tr>
      <th>NOmbre</th>
      <th>Apellido</th>
      <th>FechaNacimiento</th>
      <th>Nombre Materia</th>
      <th>horas por Materia</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body">
    <tr>
      <!--<td>{{registro.primerNombre}}</td>-->
      <!--<td>{{registro.primerApellido}}</td>-->
      <!--<td>{{registro.fechaNacimiento}}</td>-->
      <!--<td>{{registro.misMaterias.values(1)}}</td>-->
      <td>{{nombreEstudiante}}</td>
      <td>{{apellidoEstudiante}}</td>
      <td>{{fechaNacimiento}}</td>
      <td>{{nombreMateria}}</td>
      <td>{{horasXMateria}}</td>
    </tr>
  </ng-template>
</p-table>
