<div class="row">
  <!--<div class="col-md-12" *ngIf="estudianteQuiereDetalle">-->
  <div class="col-md-12" *ngIf="detallesEstudiantes.length > 0">
    <p-table [value]="detallesEstudiantes">
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre Materia</th>
          <th>Descripcion Materia</th>
          <th>Codigo Materia</th>
          <th>Es Activa</th>
          <th>Fecha Creacion</th>
          <th>Numero Horas</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-registro>
        <tr>
          <td>{{registro.nombreMateria}}</td>
          <td>{{registro.descripcionMateria}}</td>
          <td>{{registro.codigoMateria}}</td>
          <td>{{registro.esActiva}}</td>
          <td>{{registro.fechaCreacion}}</td>
          <td>{{registro.numeroHorasPorMateria}}</td>
          <!--<td>{{nombreEstudiante}}</td>-->
          <!--<td>{{apellidoEstudiante}}</td>-->
          <!--<td>{{fechaNacimiento}}</td>-->
          <!--<td>{{eresGraduado}}</td>-->
          <!--<td>{{actualSemestre}}</td>-->
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
