<div class="example-container">

  <table>
    <tr>
      <mat-form-field>
        <input matInput placeholder="Primer Nombre" [(ngModel)]="nombrePrimero">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Segundo Nombre" [(ngModel)]="nombreSegundo">
      </mat-form-field>
    </tr>
    <tr>
      <mat-form-field>
        <input matInput placeholder="Primer Apellido" [(ngModel)]="apellidoPrimero">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Segundo Apellido" [(ngModel)]="apellidoSegundo">
      </mat-form-field>
    </tr>

    <tr>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Fecha de Nacimiento"  [(ngModel)]="fechaNacimiento">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Semestre Actual" maxlength="1" [(ngModel)]="semestreActual">
      </mat-form-field>
    </tr>
  </table>

  <mat-form-field>
    <mat-select placeholder="¿Es graduado?" [(ngModel)]="graduado">
      <mat-option value=true>SI</mat-option>
      <mat-option value=false>NO</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="row">
    <button mat-button>Limpiar!</button>
    <button mat-button (click)="guardarEstudiante()">Crear!</button>
  </div>
</div>

<p class="life-container" *ngFor="let estudiante of listaEstudiantesCreados">
  {{estudiante.primerNombre}} | {{estudiante.primerApellido}} | {{estudiante.fechaNacimiento}} | {{estudiante.semestreActual}}

</p>



