<table>
  <tr>
    <td><input type="text" placeholder="Nombre de Materia" [(ngModel)]="nombreMateria"></td>
    <td><input type="text" placeholder="Código de Materia"[(ngModel)]="codigo"></td>
  </tr>
  <tr>
    <td><input type="text" placeholder="Descripcion de Materia" [(ngModel)]="descripcion"></td>
    <td><input type="text" placeholder="¿Está activa la materia?"[(ngModel)]="esActivo"></td>
  </tr>
  <tr>
    <td class="col-md-3">
      <input type="text" placeholder="Fecha de Creación" [(ngModel)]="fechaCreacion">
    </td>

    <td class="col-md-3">
      <input type="text" placeholder="Número de horas por semana" [(ngModel)]="numeroHorasPorSemana">
    </td>
  </tr>
  <tr>
    <td>
      <button pButton type="button" label="Limpiar"></button>
    </td>
    <td>
      <button pButton type="button" label="Crear" (click)="generarRegistroMateria()"></button>
    </td>
  </tr>
</table>






